body{
    background-color: var(--gray);
}

.header-title span, .main-title span, .main-subtitle span{
    color: var(--primary)
}


.header{
    display: flex;
    align-items: center;
}
.header{
    background-color: var(--secundary);
}
.logo{
    width: 95px;
    padding: 15px;
    padding-left: 20px;
}

.nav-items{
    padding-left: 350px;
    display: flex;
}

.header-title{
    padding-left: 13px;

    font-family: 'Insaniburger with Cheese';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    /* identical to box height */

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.nav-item{
   
    padding: 0px 20px;
}

.nav-item a{
    /* cardápio */


    font-family: 'Insaniburger with Cheese';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    text-decoration: none;
}
.main{
    background-color: var(--gray2);
}

.content-main{
    padding-top: 211px;
    margin-left: 104px;
}

.border-main{
    /* Rectangle 12 */


    border-radius: 40px;
    margin: 28px 0px;
    width: 410px;
    height: 6px;
    background-color: #FFD413;
}
.content-main-btn{
    margin-top: 28px;
}

.main-btn{
    width: 200px;
    height: 55px;
    font-size: 25px;
    font-family: 'Insaniburger with Cheese' ;
    border-radius: 13px;
    color: var(--white);
    background-color: var(--primary);
}
.main-btn{
    padding: 11px 26px;
}

.main-title{

    font-family: 'Insaniburger with Cheese';
    font-weight: 400;
    font-size: 60px;
    line-height: 87.06%;
    color: var(--white);
}

.main-subtitle{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    /* or 45px */

    color: var(--white);

}

.hamburguer-main{
    width: 100%;
    display: flex;
    justify-content: end;
}

.hamburguer-img{
    margin-top: -300px;
    width: 60%;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;
    padding: 38px 45px 98px;
}
.menu-title{
    /* cardápio */


    font-weight: 400;
    font-size: 64px;
    line-height: 73px;
    text-transform: uppercase;
    text-align:center;
    color: var(--black);
    font-family: 'Insaniburger with Cheese', sans-serif;
}
.menu-subtitle{
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    text-align: center;
    font-family: 'Bebas Neue';
    margin-top: 12px;
    text-transform: uppercase;
    color: var(--gray2);
}
.menu-subtitle span{
    font-weight: 700;
}
.card{
    text-transform: uppercase;
    background: rgba(61, 60, 60, 0.638);
    border-radius: 60px;
    background-size: cover;
    width: 100%;
    max-width: 900px;
    padding: 40px 0px;
}
.menu-cards{
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 900px));
    gap: 48px 30px ;
}

.card-title{
    /* Título Hambúrguer */

    font-family: 'Insaniburger with Cheese';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 51px;

    /* Laranja - Deburguer */

    color: var(--primary);
}

.card-title, .card-price{
    font-family: 'Insaniburger with Cheese', sans-serif;

} 
.card:nth-last-child(4){
    background-image: url('../Imgs/original.svg');
}
.card:nth-last-child(3){
    background-image: url('../Imgs/cheese-classic.svg');
}
.card:nth-last-child(2){
    background-image: url('../Imgs/bbq-bacon-burguer.svg');
}
.card:nth-last-child(1){
    background-image: url('../Imgs/bacon-beef.svg');
}
.ingredients, .card-title, .card-price{
   margin-left: auto; 
   margin-right: 53px;
   text-align: right;
   width: fit-content;
}
.ingredients{
    color: var(--white);
    font-family: 'Bebas Neue';
    font-size: 30px;
    margin-top: 8px;
}
.card-price{
    background-color: var(--primary);
    color: var(--white);
    width: 184px; height: 56px;
    font-size: 45px;
    text-align: center;
    line-height: 50px;
    border-radius: 16px;
    margin-top: 28px;
}

.menu-drinks{
    display: flex;
    justify-content: space-between;
    border: 4px solid var(--gray2);
    border-radius: 44px;
    padding: 44px 64px;
    width: 100%;
    max-width: 1200px;
}

.drink-title{
    text-align: center;
    font-family: 'Bebas Neue'; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 50px; 
    line-height: 50px; /* identical to box height */ 
    line-height: 50px;
    color: var(--primary);
}

    .drink-details{
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 42px;
        text-align: center;
        color: var(--black);
    }
    .drinks-names, .drinks-values{
        width: 100%;
    }
    .border{
      border: 1px solid var(--black);
        width: 100%;


    }

    .location{
        background-color: var(--gray2);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px 0px 120px;
    }
    .location-texts-content{
        padding-bottom: 41px;
    }
    .location-title, .location-subtitle, .description-address{
        text-transform: uppercase;
    }
    .location-title{
        font-family: 'Insaniburger with Cheese';
        font-weight: 400;
        font-size: 60px;
        text-align: center;

        /* Branco */
        color: var(--white);
    }
    .location-subtitle{
        font-family: 'Bebas Neue';
        font-weight: 400;
        font-size: 40px;
        line-height: 54px;
        text-align: center;

        /* Branco */
        color: var(--white);
    }
    .description-address{
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        padding-top: 25px;
        /* Branco */
        color: #FFFFFF;
    }

    .location-address{
        width: 990px;
        height: 700px;
        border-radius: 80px;
    }

    footer{
        background-color: var(--gray2);
    }
    
    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .footer-title{
        font-family: 'Insaniburger with Cheese';
        font-weight: 400;
        font-size: 3em;
        line-height: 68px;

        color: var(--white);


    }

    .footer-title span{
        color: var(--primary);
    }
    .footer-subtitle{
        font-family: 'Bebas Neue';
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;

        color: var(--white);
    }
    .footer-btn{
        /* Botão */
        background-color: var(--primary);
        width: 500px;
        height: 80px;
        border-radius: 80px;
    }

    .content-btn p{ 
        font-family: 'Insaniburger with Cheese';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 100%;
        align-items: center;
        text-align: center;
        text-transform: uppercase;

        color: var(--white);

        text-shadow: 1px 1px 1px var(--black);

    }
    .footer-texts{
        padding-bottom: 56px;
        padding-left: 210px;
    }
    .content-btn{
        padding-bottom: 74px;
        padding-right: 10%;
    }
@media(max-width:1023px){
    .card{
        padding: 20px;
    }
    .menu-title{
        font-size: 3em;
    }
    .menu-subtitle{
        font-size: 2em;
    }

    .menu-cards{
        display: flex;
        flex-wrap: wrap;
    }

    .card-title{
        font-size: 1.7em;
        line-height: 24px;
    }
    .ingredients, .card-price, .card-title{
        margin-right: 10px;
    }
    .ingredients{
        font-size: 1.3em;
    }

    .card-price{
        font-size: 1.7em;
        width: 130px; height: 56px;
    }
    .drink-title{
        font-size: 2.4em;
    }
    .drink-details{
        font-size: 1.6em;
    }
    .menu-drinks{
        padding: 10px;
    }


    .location-title{
        font-size: 35px;
    }
    .location-subtitle{
        font-size: 25px;
    }
    .description-address{
        font-size: 20px;
    }
    .location-address{
        width: 90vw;
        height: 60vh;
    }
    .footer-content{
        flex-direction: column;
    }

    .footer-texts{
        margin-right: 50%;
    }
    .content-btn{
        padding: 0px;
        margin-bottom: 10%;
    }
    .footer-btn{

        width: 300px;
        height: 100%;
    }
}

@media(max-width:767px){
    .drink-title{
        font-size: 1.7em;
    }
    .drink-details{
        font-size: 1em;
    }
    .footer-content{
        flex-direction: column;
    }

    .footer-texts{
        margin-right: 50%;
    }
    .content-btn{
        padding: 0px;
        margin-bottom: 10%;
    }
    .footer-btn{

        width: 300px;
        height: 100%;
    }
}